.event-instance {
	display: flex;
	flex-direction: row;
}
.join-event {
	margin-left: auto;
	background-color: #bff1ff;
	font-size: .9vw;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 30px;
	margin-top: 30px;
	height: 10%;
	color: black;
	border-radius: 22px;
	cursor: pointer;
}

.join-event:hover {
	background-color: #a6cfdb;
}