.event-card {
	width: 33%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
	transition: 0.3s;
	text-align: center;
	margin: 10px 10px;
	cursor: pointer;
}

.event-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

.container {
	padding: 5px;
}