.events {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.cards {
	width: 80%;
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	position:absolute;
}

.add-event-button {
	text-align: center;
	color: white;
	margin-right: 30px;
	background-color: #1c1c1c;
	width: 90px;
	height: 40px;
	line-height: 40px;
	border-radius: 25px;
	margin-left: auto;
	cursor: pointer;
}