.nav-user-icon {
  cursor: pointer;
}
.nav-dropdown {
  margin-left: auto;
}
.nav-dropdown .nav-user-icon {
  padding-right: 25px;
  padding-left: 25px;
  position: relative; 
  display: inline-block;
}
.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,.2);
  color: black;
  z-index: 1;
  min-width: 160px;
  right: 0;
  cursor: pointer;
}
.nav-dropdown:hover .nav-user-icon {
  background-color: #1c1e1e;
}
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.dropdown-content:hover {
  background-color: #ddd;
}