.navbar {
  overflow: hidden;
  top: 0;
  background-color: #282c34;
  min-height: 6vh;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.nav-button {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.1s;
  cursor: pointer;

}

.nav-button:hover {
  background-color: #1c1e1e;
}

