.user-icon-container {
	display: flex;
	flex-direction: row;
}
.user-icon {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 45px;
	background-color: grey;
	font-size: 20px;
	text-align: center;
	width: 45px; 
	height: 45px;
	border-radius: 50%;
	color: white;
}